:root {
    --primary-color:#5D0B0D;
    --secondary-color:#BB9762 ;
    --font_color: white;
    --accent-color1: #CD304A;
    --accent-color2: #EED01C;
    --accent-color3: #B98145;

}
body{
    background-color: var(--secondary-color);
    color: var(--font_color);
}
#content{
    background-color: var(--primary-color);
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    
}
h1{
    color: var(--secondary-color);
    text-align: center;
}
h2{
    color: var(--primary-color);
}
a {
    color: white;
}

.expressions {
    color: var(--accent-color2);
}

.questions{
    color: var(--accent-color1);
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 0.5rem;

}

#hero{
    color:#5D0B0D;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
}

.hidden {
    display: none;
}
.hikeStyles {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
}
.hikeStyles div {
    padding: 0 0.5em;
}
.hikeStyles li > h2 {
    text-align: center;
    background-color: burlywood;
    margin-bottom: 0.5em;
}

.light {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.light > h2 {
    width: 100%;
    flex: 1 0 auto;
}

.light > div {
    width: 40%;
    margin-left: 1em;
    flex: 1 1 auto;
}
.light h3 {
    margin-bottom: -0.5em;
}

img {
    max-width: 100%;
}